* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 20px;
}
:root{
  --primary-color: #ccd51c;
  --secondary-color: #ff5722;
  --font-color: #ffffffcf;
  --background-color: #353434;
}
  nav,header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px
  }
  .pfp{
    width:250px;
    height:250px;
    border-radius: 50%;
    border:3px solid var(--primary-color);
    object-fit:cover;
    transform:scale(0.9)
  }
  .btn{
    text-decoration:none;
    padding:10px 20px;
    border-radius:12px;
    background-color: rgba(168, 170, 112, 0.148);
    color:var(--font-color);
    transition:0.3s;
    cursor:pointer
  }
  .btn:hover{
    background-color:var(--primary-color);
    color:#000;
  }
  section{
    margin-bottom:40px;
  }
  li{
    margin-bottom:2px;
  }
  article{
    margin-top:15px;
    line-height:1.3;
  }
  h1{
    font-size: 37px;
    margin-bottom:10px;
  }
  h2{
    font-size: 30px;
    margin-bottom:15px;
  }
  h3{
    font-size: 25px;
    margin-bottom:10px;
  }
  h4{
    font-size: 18px;
    margin-bottom:6px;
  }
  p{
    font-size: 15px
  }
  main {
    max-width: 800px;  
    margin: 0 auto;    
    padding: 20px;     
    
}
dl,ul{
  border: #8f8f8f 1px solid;
   border-radius: 10px;
  padding:15px;
  border-collapse: collapse;
  box-shadow: inset 0 0 10px #000000a8;
}
ul{
  list-style-type:square;
  padding-left: 27px;
}

dt{
  background-color:rgb(72, 70, 70);
  color:#fff;
  margin-top:15px;
  font-weight:bold;
  padding:6px;
}
dd{
  background-color:rgba(115, 113, 113, 0.267);
  color:#fff;
  margin-bottom:10px;
  padding:6px;
  
}